.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) { 
    .header-header {
        height: 65vh;
        width: 100%;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .header-header {
        height: 65vh;
        width: 100%;
    }
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
    .header-header {
        height: 75vh;
        width: 100%;
    }
}

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) { 
    .header-header {
        height: 70vh;
        width: 100%;
    }
}

/* desktop-xlarge */
@media all and (min-width: 1601px) {
    .header-header {
        height: 75vh;
        width: 100%;
    }   
}
