.MuiButtonBase-root {
  -webkit-transition: all 2s ease-out !important;
  -moz-transition: all 2s ease-out !important;
  -o-transition: all 2s ease-out !important;
  transition: all 2s ease-out !important;
}
.MuiListItem-root {
  -webkit-transition: all 2s ease-out !important;
  -moz-transition: all 2s ease-out !important;
  -o-transition: all 2s ease-out !important;
  transition: all 2s ease-out !important;
}
.MuiListItem-gutters {
  -webkit-transition: all 2s ease-out !important;
  -moz-transition: all 2s ease-out !important;
  -o-transition: all 2s ease-out !important;
  transition: all 2s ease-out !important;
}
.MuiListItem-button {
  -webkit-transition: all 2s ease-out !important;
  -moz-transition: all 2s ease-out !important;
  -o-transition: all 2s ease-out !important;
  transition: all 2s ease-out !important;
}
