.MuiButtonBase-root {
  -webkit-transition: all 1s ease-out !important;
  -moz-transition: all 1s ease-out !important;
  -o-transition: all 1s ease-out !important;
  transition: all 1s ease-out !important;
}
.MuiListItem-root {
  -webkit-transition: all 1s ease-out !important;
  -moz-transition: all 1s ease-out !important;
  -o-transition: all 1s ease-out !important;
  transition: all 1s ease-out !important;
}
