.main {
  width: 250px;
  height: 500px;
  background-color: "white";
  border: "4px outset #1C6EA4";
  border-radius: "8px";
  box-shadow: "20px 16px 44px -16px rgba(101,101,102,1)";
  position: "absolute";
  top: 110px;
  right: 10px;
  opacity: 0.5;
}
