form {
  width: '100%';
  max-width: 320px;
  background-color: lightgray;
 
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: transparent;
  position: absolute;
  margin-left: 80%;
}

.searchbutton {
   margin-top: 10px;
   background-color: transparent;
  

}

.textinput {
  background-color: transparent;

}
.example-input {
  color: red;
}


#containerdiv {
  padding: 8px;
  color: white;
}